@media screen and (max-width:768px) {
    .nav-container {
        flex-direction: column;
        gap: 1rem;
    }
    body{
        background-color:beige;
    }
    h1 {
        font-size: 18px;
        text-align: center;   
    }

    div {
        text-align: center;
    }

    table {
        margin-left: auto;
        margin-right: auto; /* This centers the table*/
        border-collapse: collapse;
        width: 60%;
        text-align: center; /*This aligns the text inside the cells*/
    }
    img {
        display:block;
        margin: 0 auto;
    
    }
    body {
        font-family:'Times New Roman', Times, serif;
        line-height: 1.6;
        background-color: #f5f5f5;
        color: #333;
    }
    .center {
        display:block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}

@media screen and (min-width:768px) {
    body{
        background-color:aliceblue;

    }

    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        background-color: #f5f5f5;
        color: #333;
    }
}